/* RESET */
body{
    margin: 0px;
    padding: 0px;
    color: black;
}


/* MAIN CONTAINER */
#MainWrapper{
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
    display: block;
    background-image: url('../img/repeat.png');
    width: 1100px;
}


/* Navigation */
#Navigation{
    width: 100%;
}
    
    ul#menu {
        margin: 0px;
        padding: 0px;
        height: 42px;
        background-color: black;
    }

    li.nav {
        font-family: 'Montserrat', sans-serif;
        font-weight: 700;
        text-transform: uppercase;
        height: 42px;
        color: white;
        list-style: none;
        float: left;
        line-height: 42px; 
        font-size: 24px;
    }

    li.nav:hover {
        background-color: #009AE2;
        cursor: pointer;
    }

    li.nav a {
        display: block;
        color: white;
        text-decoration: none;
    }


/* Accent Bars */
#BarBlue{
    width: 100%;
    height: 5px;
    background-color: #009AE2;
}

#BarYellow{
    width: 100%;
    height: 5px;
    background-color: yellow;
}

#BarGreen{
    width: 100%;
    height: 5px;
    background-color: green
}


/* Slider */
#Slider{
    width: 100%;
    margin-top: 10px;
    max-height: 240px;
    background: pink;
    overflow: hidden;
}

    ul#bxslider {
        margin: 180px;
        padding: 0px;
    }



/* Social icons */
#Social{
    margin-top: 5px;
    margin-bottom: 5px;
    width: 100%;
    height: 50px;
    border: 1px solid black;
    background-image: url('../social/YouTubeIcon.png');
}


/* Front page dividers | Left Category display | Right Sidebar widgets*/
#LeftContainer{
    margin-right: 15px;
    display: inline-block;
    width: 800px;
}

#RightContainer{
    display: inline-block;
    width: 277px;
    border: 1px solid black;
}
    #CategoryLeft{
        display: inline-block;
        width: 390px;
        margin-right: 5px;
        color: white;
        background-color: black;
        border: 1px solid black;
    }

    #CategoryRight{
        display: inline-block;
        width: 390px;
        margin-left: 5px;
        color: white;
        background-color: black;
        border: 1px solid black;
    }

    #CategoryList{
        display: inline-block;
        width: 100%;
        background-color: white;
    }