/* RESET */
/*
Home
Light:  #009ae2
Dark:   #0072a7

News
Light:  #16992f
Dark:   #0f7c23

Media
Light:  #f21818
Dark:   #c31515

Learn
Light:  #f2ae00
Dark:   #b17f00

Competitive
Light:  #4f009d
Dark:   #3c0077

Blog
Light:  #3d3d3d
Dark:   #282828
*/

body{
    height: 100%;
    margin: 0px;
    padding: 0px;
    color: black;
    background-color: #000000;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/* Tables */
table {border-collapse: collapse;width: 100%;}
table, td, th {border: 0px;}
tr:nth-of-type(even) {background-color:#F0F0F0 ;} 

/* Image properties */
img.frontpage{
    border: 1px solid black;
    margin: 0px;
    margin-right: 5px;
    margin-left: 5px;
    padding: 0px;
    max-height: 75px;
    max-width: 75px;
    float: left;
}

img.social{
    max-height: 28px;
    margin-top: 7px;
    margin-right: 7px;
    float: right;
}

img.footer{
    float: left;
}

/* Link porperties */
a:link {color: #009AE2; text-decoration: none; font-weight: 700;}       /* unvisited link */
a:visited {color: #009AE2; text-decoration: none; font-weight: 700;}    /* visited link */
a:hover {color: #009AE2; text-decoration: underline; font-weight: 700;} /* mouse over link */
a:active {color: #009AE2; text-decoration: none; font-weight: 700;}     /* active link */

/* Accent Bars */
#BarBlue{width: 100%; height: 5px;background-color: #009AE2;}
#BarOrange{width: 100%;height: 5px;background-color: #f2ae00;}
#BarGreen{width: 100%;height: 5px;background-color: #16992f;}
#BarPurple{width: 100%;height: 5px;background-color: #4f009d;}
#BarRed{width: 100%;height: 5px;background-color: #c31515;}
#BarGray{width: 100%;height: 5px;background-color: #d4d4d4;}


/* MAIN CONTAINER */
#MainWrapper{
    margin-left: auto;
    margin-right: auto;
    margin-top 0px;
    padding: 0px;
    background-image: url('../IMG/repeat.png');
    width: 1090px;
    min-height:100%;
    position:relative;
}


/* Navigation */
#NavigationWrapper{
    margin-left:auto;
    margin-right: auto;
    margin-bottom: 0px;
    width: 1090px;
}

    ul#menu {
        margin: 0px;
        padding: 0px;
        height: 42px;
        background-color: black;
    }

    /* Search */
    li.Search {
        font-family: 'Droid Sans', sans-serif;
        float: right;
        height: 42px;
        line-height: 40px;
        margin-right: 10px;
        list-style: none;
    }

    /* Substyles */
    li.NavBlue {
        font-family: 'Montserrat', sans-serif;
        font-weight: 700;
        text-transform: uppercase;
        height: 42px;
        color: white;
        list-style: none;
        float: left;
        line-height: 42px; 
        font-size: 24px;
    }

    li.NavBlue:hover {background-color: #009AE2; cursor: pointer;}
    li.NavBlue a {display: block;color: white;text-decoration: none;}
    
    li.NavOrange {
        font-family: 'Montserrat', sans-serif;
        font-weight: 700;
        text-transform: uppercase;
        height: 42px;
        color: white;
        list-style: none;
        float: left;
        line-height: 42px; 
        font-size: 24px;
    }

    li.NavOrange:hover {background-color: #f2ae00;cursor: pointer;}
    li.NavOrange a {display: block;color: white;text-decoration: none;}
    
    li.NavPurple {font-family: 'Montserrat', sans-serif;font-weight: 700;text-transform: uppercase;
        height: 42px;
        color: white;
        list-style: none;
        float: left;
        line-height: 42px; 
        font-size: 24px;
    }

    li.NavPurple:hover {background-color: #4f009d;cursor: pointer;}
    li.NavPurple a {display: block;color: white;text-decoration: none;}

    li.NavGreen {
        font-family: 'Montserrat', sans-serif;
        font-weight: 700;
        text-transform: uppercase;
        height: 42px;
        color: white;
        list-style: none;
        float: left;
        line-height: 42px; 
        font-size: 24px;
    }

    li.NavGreen:hover {background-color: #16992f;cursor: pointer;}
    li.NavGreen a {display: block;color: white;text-decoration: none;}

    li.NavRed {
        font-family: 'Montserrat', sans-serif;
        font-weight: 700;
        text-transform: uppercase;
        height: 42px;
        color: white;
        list-style: none;
        float: left;
        line-height: 42px; 
        font-size: 24px;
    }

    li.NavRed:hover {background-color: #c31515;cursor: pointer;}
    li.NavRed a {display: block;color: white;text-decoration: none;}

    li.NavGray {
        font-family: 'Montserrat', sans-serif;
        font-weight: 700;
        text-transform: uppercase;
        height: 42px;
        color: white;
        list-style: none;
        float: left;
        line-height: 42px; 
        font-size: 24px;
    }

    li.NavGray:hover {background-color: #d4d4d4;cursor: pointer;}
    li.NavGray a {display: block;color: white;text-decoration: none;}


/* Slider */
#Slider{
    width: 100%;
    margin-top: 0px;
    max-height: 238px;
    background: pink;
    overflow: hidden;
}

    ul#bxslider {
        margin: 180px;
        padding: 0px;
    }


/* Social icons */
#Social{
    clear: both;
    padding-top: 10px;
    padding-left: 5px;
    width: 100%;
    height: 27px;
    overflow: hidden;
}


/* Sidebar */
#SidebarWrapper{
    float: right;
    width: 270px;
    height: auto;
    overflow: hidden;
    margin-right: 5px;
    margin-top: 10px;
}

    #SidebarHeader{
        height: 30px;
        padding: 2px;
        background-color: black;
        font-family: 'Montserrat', sans-serif;
        font-weight: 700;
        text-transform: uppercase;
        line-height: 30px; 
        font-size: 24px;
        color: white;
    }

    #SidebarContent{
        background-color: #f6f6f6;
        overflow: hidden;
        padding: 5px;
        font-family: 'Droid Sans', sans-serif;
        font-size: 14px;
        border: 1px solid black;
        margin-bottom: 10px;
    }


/* Categories */
#CategoryLong{
    overflow: hidden;
    width: 797px;
    border: 1px solid black;
    background-color: #f6f6f6;
    margin-left: 5px;
    margin-right: auto;
    margin-top: 10px;
    padding-bottom: 4px;
}

#CategoryShort{
    display: inline-block;
    overflow: hidden;
    width: 393px;
    border: 1px solid black;
    margin-left: 5px;
    margin-right: auto;
    margin-top: 10px;
}

    #CatHeader{
        height: 30px;
        padding: 2px;
        background-color: black;
        font-family: 'Montserrat', sans-serif;
        font-weight: 700;
        text-transform: uppercase;
        line-height: 30px; 
        font-size: 24px;
        color: white;
    }

    #CatHeader a:link    {color: white; text-decoration: none;}
    #CatHeader a:visited {color: white; text-decoration: none;}
    #CatHeader a:hover   {color: white; text-decoration: none;}
    #CatHeader a:active  {color: white; text-decoration: none;}

    /* Substyles */
    #CatContentBlue{width: 100%;padding: 2px;background-color: #f6f6f6;font-family: 'Droid Sans', sans-serif;font-size: 14px;color: black;}
    #CatContentBlue h1{text-transform: capitalize; font-size: 22px; margin: 0px; margin-top: 5px; padding: 0px;}
    #CatContentBlue h2{text-transform: capitalize; font-size: 10px; margin: 0px; padding: 0px;}
    #CatContentBlue p{font-size: 14px; margin: 0px; padding: 0px; margin-top: 7px;}    
    #CatContentBlue a:link {color: black; text-decoration: none; font-weight: 700;}
    #CatContentBlue a:visited {color: black; text-decoration: none; font-weight: 700;}
    #CatContentBlue a:hover {color: black; text-decoration: underline; font-weight: 700;}
    #CatContentBlue a:active {color: black; text-decoration: none; font-weight: 700;}

    #CatContentGreen{width: 100%;padding: 2px;background-color: #f6f6f6;font-family: 'Droid Sans', sans-serif;font-size: 14px;color: black;}
    #CatContentGreen h1{text-transform: capitalize; font-size: 22px; margin: 0px; padding: 0px; margin-top: 10px;}
    #CatContentGreen h2{text-transform: capitalize; font-size: 10px; margin: 0px; padding: 0px;}
    #CatContentGreen p{font-size: 14px; margin: 0px; padding: 0px; margin-top: 7px;}
    #CatContentGreen a:link {color: black; text-decoration: none; font-weight: 700;}
    #CatContentGreen a:visited {color: black; text-decoration: none; font-weight: 700;}
    #CatContentGreen a:hover {color: black; text-decoration: underline; font-weight: 700;}
    #CatContentGreen a:active {color: black; text-decoration: none; font-weight: 700;}
    #CatContentGreen tr:hover {background-color: #16992f}

    #CatContentOrange{width: 100%;padding: 2px;background-color: #f6f6f6;font-family: 'Droid Sans', sans-serif;font-size: 14px;color: black;}
    #CatContentOrange h1{text-transform: capitalize; font-size: 22px; margin: 0px; padding: 0px; margin-top: 10px;}
    #CatContentOrange h2{text-transform: capitalize; font-size: 10px; margin: 0px; padding: 0px;}
    #CatContentOrange p{font-size: 14px; margin: 0px; padding: 0px; margin-top: 7px;}
    #CatContentOrange a:link {color: black; text-decoration: none; font-weight: 700;}
    #CatContentOrange a:visited {color: black; text-decoration: none; font-weight: 700;}
    #CatContentOrange a:hover {color: black; text-decoration: underline; font-weight: 700;}
    #CatContentOrange a:active {color: black; text-decoration: none; font-weight: 700;}
    #CatContentOrange tr:hover {background-color: #f2ae00}

    #CatContentPurple{width: 100%;padding: 2px;background-color: #f6f6f6;font-family: 'Droid Sans', sans-serif;font-size: 14px;color: black;}
    #CatContentPurple h1{text-transform: capitalize; font-size: 22px; margin: 0px; padding: 0px; margin-top: 10px;}
    #CatContentPurple h2{text-transform: capitalize; font-size: 10px; margin: 0px; padding: 0px;}
    #CatContentPurple p{font-size: 14px; margin: 0px; padding: 0px; margin-top: 7px;}
    #CatContentPurple a:link {color: black; text-decoration: none; font-weight: 700;}
    #CatContentPurple a:visited {color: black; text-decoration: none; font-weight: 700;}
    #CatContentPurple a:hover {color: black; text-decoration: underline; font-weight: 700;}
    #CatContentPurple a:active {color: black; text-decoration: none; font-weight: 700;}
    #CatContentPurple tr:hover {background-color: #4f009d}

    #CatContentRed{width: 100%;padding: 2px;background-color: #f6f6f6;font-family: 'Droid Sans', sans-serif;font-size: 14px;color: black;}
    #CatContentRed h1{text-transform: capitalize; font-size: 22px; margin: 0px; padding: 0px; margin-top: 10px;}
    #CatContentRed h2{text-transform: capitalize; font-size: 10px; margin: 0px; padding: 0px;}
    #CatContentRed p{font-size: 14px; margin: 0px; padding: 0px; margin-top: 7px;}
    #CatContentRed a:link {color: black; text-decoration: none; font-weight: 700;}
    #CatContentRed a:visited {color: black; text-decoration: none; font-weight: 700;}
    #CatContentRed a:hover {color: black; text-decoration: underline; font-weight: 700;}
    #CatContentRed a:active {color: black; text-decoration: none; font-weight: 700;}
    #CatContentRed tr:hover {background-color: #c31515}

    #CatContentGray{width: 100%;padding: 2px;background-color: #f6f6f6;font-family: 'Droid Sans', sans-serif;font-size: 14px;color: black;}
    #CatContentGray h1{text-transform: capitalize; font-size: 22px; margin: 0px; padding: 0px; margin-top: 10px;}
    #CatContentGray h2{text-transform: capitalize; font-size: 10px; margin: 0px; padding: 0px;}
    #CatContentGray p{font-size: 14px; margin: 0px; padding: 0px; margin-top: 7px;}
    #CatContentGray a:link {color: black; text-decoration: none; font-weight: 700;}
    #CatContentGray a:visited {color: black; text-decoration: none; font-weight: 700;}
    #CatContentGray a:hover {color: black; text-decoration: underline; font-weight: 700;}
    #CatContentGray a:active {color: black; text-decoration: none; font-weight: 700;}
    #CatContentGray tr:hover {background-color: #d4d4d4}

#FooterWrapper {
    width:100%;
    margin-top: 20px;
    background:#3d3d3d;
    overflow: hidden;
}

    #FooterInner{
        padding: 30px;
        font-family: 'Droid Sans', sans-serif;
        font-size: 14px;
        color: #f6f6f6;
    }

    #FooterDivider{
        float: left;
        margin-left: 10px;
        margin-right: 10px;
        width: 1px;
        height: 90px;
        background-color: #f8f8f8;
        box-shadow: 0px 1px 3px #f6f6f6;
    }
 
    li.Footer{
       list-style: none;
    }
}